{% extends "base.html" %}
{% block main %}
    <div class="flex-center">
    <div class="container">
        <div>
            <p class="title">修改密码成功！</p>
            <a class="button is-success is-outlined" href="{% url 'sspanel:userinfo' %}">点我返回用户中心</a></h1>
        </div>
    </div>
</div>
{% endblock main %}