{% load ehcofilter %}
<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <title>{% settings_value "TITLE" %}</title>
    {% include "basehead.html" %}
</head>

<body>
    <nav class="navbar is-primary is-spaced">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'img/logo/logo.png' %}" alt="{% settings_value "TITLE" %}logo">
            </a>
            <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenuColorprimary-example" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'index' %}">首页</a>
                <a class="navbar-item" href="{% url 'sspanel:sshelp' %}">使用说明</a>
                <a class="navbar-item" href="{% url 'sspanel:invite_code' %}">邀请码</a>
                <a class="navbar-item" href="{% url 'sspanel:ssclient' %}">客户端</a>
                <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
                    <span class="navbar-item">
                        <a class="button is-primary is-inverted" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <span>{{ user.username }}</span>
                        </a>
                    </span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-users"></i>
                            </span>
                            <span>用户中心</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'sspanel:logout' %}">
                            <span class="icon">
                                <i class="fa fa-sign-out"></i>
                            </span>
                            <span>登出</span>
                        </a>
                    </div>
                </div>
                <!-- 手机界面菜单-->
                <div class="is-hidden-tablet">
                    <a class="navbar-item is-active">面板管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:system_status' %}">系统状态</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_invite' %}">邀请相关</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_anno' %}">公告管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_ticket' %}">工单管理</a>
                    <a class="navbar-item is-active">节点管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_node_list' %}">节点列表</a>
                    <a class="navbar-item" href="{% url 'sspanel:user_online_ip_log' %}">在线IP</a>
                    <a class="navbar-item is-active">交易管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_charge' %}">充值管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_shop' %}">商品管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:purchase_history' %}">购买记录</a>
                    <a class="navbar-item is-active">用户管理</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_user_ss_config_list' %}">用户列表</a>
                    <a class="navbar-item" href="{% url 'sspanel:backend_user_status' %}">用户分析</a>
                    <a class="navbar-item is-active">面板跳转</a>
                    <a class="navbar-item" href="/admin">数据后台</a>
                    <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">用户面板</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-small is-primary">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    {% settings_value "SUBTITLE" %}
                </h1>
            </div>
        </div>
    </section>
    <br />
    <div class="container">
        <div class="columns">
            <div class="column is-2 is-hidden-mobile">
                <div class="box">
                    {% if user.is_authenticated %}
                    <aside class="menu">
                        <p class="menu-label">
                            面板管理
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:system_status' %}">系统状态</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:backend_invite' %}">邀请相关</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:backend_anno' %}">公告管理</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:backend_ticket' %}">工单管理</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            节点管理
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:backend_node_list' %}">节点列表</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:user_online_ip_log' %}">在线IP</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            交易管理
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:backend_charge' %}">充值管理</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:backend_shop' %}">商品管理</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:purchase_history' %}">购买记录</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            用户管理
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:backend_user_ss_config_list' %}">用户列表</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:backend_user_status' %}">用户分析</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            面板跳转
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="/admin">数据后台</a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:userinfo' %}">用户面板</a>
                            </li>
                        </ul>
                        {% endif %}
                    </aside>
                </div>
            </div>
            <div class="column is-10">
                {% block main %} {% endblock main%}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <p class="copyright">&copy; 2018·
                        <a href="https://github.com/ehco1996">GitHub</a>
                    </p>
                </p>
            </div>
        </div>
    </footer>
</body>
<!--整站消息提醒功能 -->
{% if messages %}
<script>
    {% for message in messages %}
    swal("{{ message.extra_tags }}", '{{ message }}', '{{ message.level_tag }}');
    {% endfor %}
</script>
{% endif %}

</html>