{% load ehcofilter %}
<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <title>{% settings_value "TITLE" %}</title>
    {% include "basehead.html" %}
</head>

<body>
    <nav class="navbar is-info is-spaced">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                <img src="{% static 'img/logo/logo.png' %}" alt="{% settings_value "SUBTITLE" %}logo" width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenuColorprimary-example" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'index' %}">首页</a>
                <a class="navbar-item" href="{% url 'sspanel:sshelp' %}">使用说明</a>
                <a class="navbar-item" href="{% url 'sspanel:invite_code' %}">邀请码</a>
                {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'sspanel:ssclient' %}">客户端</a>
                <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
                    <span class="navbar-item">
                        <a class="button is-info is-inverted" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <span>{{ user.username }}</span>
                        </a>
                    </span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">
                            <span class="icon">
                                <i class="fa fa-users"></i>
                            </span>
                            <span>用户中心</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'sspanel:logout' %}">
                            <span class="icon">
                                <i class="fa fa-sign-out"></i>
                            </span>
                            <span>注销登录</span>
                        </a>
                    </div>
                </div>
                <!-- 手机界面菜单-->
                <div class="is-hidden-tablet">
                    <a class="navbar-item is-active">我的信息</a>
                    <a class="navbar-item" href="{% url 'sspanel:userinfo' %}">账户信息</a>
                    <a class="navbar-item" href="{% url 'sspanel:announcement' %}">查看公告</a>
                    <a class="navbar-item" href="{% url 'sspanel:ticket' %}">联系站长</a>
                    <a class="navbar-item is-active">节点相关</a>
                    <a class="navbar-item" href="{% url 'sspanel:nodeinfo' %}">节点信息</a>
                    <a class="navbar-item" href="{% url 'sspanel:user_traffic_log' %}">流量记录</a>
                    <a class="navbar-item is-active">交易相关</a>
                    <a class="navbar-item" href="{% url 'sspanel:donate' %}">捐赠充值</a>
                    <a class="navbar-item" href="{% url 'sspanel:chargecenter' %}">充值界面</a>
                    <a class="navbar-item" href="{% url 'sspanel:shop' %}">商品界面</a>
                    <a class="navbar-item" href="{% url 'sspanel:purchaselog' %}">购买记录</a>
                    <a class="navbar-item is-active">邀请相关</a>
                    <a class="navbar-item" href="{% url 'sspanel:aff_invite' %}">邀请返利</a>
                    <a class="navbar-item" href="{% url 'sspanel:aff_status' %}">返利记录</a>
                    {% if perms.sspanel %}
                    <a class="navbar-item is-active">管理面板</a>
                    <a class="navbar-item" href="/admin">数据后台</a>
                    <a class="navbar-item" href="{% url 'sspanel:system_status' %}">网站后台</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <section class="hero is-small is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{% settings_value "SUBTITLE" %}</h1>
            </div>
        </div>
    </section>
    <hr>
    <div class="container">
        <div class="columns">
            {% if user.is_authenticated %}
            <div class="column is-2 is-hidden-mobile">
                <div class="box">
                    <aside class="menu">
                        <p class="menu-label">
                            我的信息：
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a class="" href="{% url 'sspanel:userinfo' %}">账户信息</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:announcement' %}">查看公告</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:ticket' %}">联系站长</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            节点相关
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:nodeinfo' %}">节点信息</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:user_traffic_log' %}">流量记录</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            交易相关
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:donate' %}">捐赠付费</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:chargecenter' %}">充值界面</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:shop' %}">商品界面</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:purchaselog' %}">购买记录</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                            邀请相关
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:aff_invite' %}">邀请返利</a>
                            </li>
                            <li>
                                <a href="{% url 'sspanel:aff_status' %}">返利记录</a>
                            </li>
                        </ul>
                        {% if perms.sspanel %}
                        <p class="menu-label">
                            管理面板
                        </p>
                        <ul class="menu-list">
                            <li>
                                <a href="/admin">数据后台</a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li>
                                <a href="{% url 'sspanel:system_status' %}">网站后台</a>
                            </li>
                        </ul>
                        {% endif %}
                    </aside>
                </div>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="column is-10">
            {% else %}
            <div class="column is-8 is-offset-2">
            {% endif %}
                {% block main %} {% endblock main%}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <p class="copyright">Powered by·
                        <a href="https://github.com/Ehco1996/django-sspanel">Django sspanel</a>
                    </p>
                </p>
            </div>
        </div>
    </footer>
</body>
<!--整站消息提醒功能 -->
{% if messages %}
<script>
    {% for message in messages %}
    swal("{{ message.extra_tags }}", '{{ message }}', '{{ message.level_tag }}');
    {% endfor %}
</script>
{% endif %}

</html>