{% extends 'base.html' %} {% block main %} {% load static %}
<div class="box">
    <div class="container">
        <h1 class="title">
            客户端推荐：
        </h1>
        <h2 class="subtitle">
            天干物燥，小心火烛
        </h2>
    </div>
</div>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Andriod:</p>
                    <p class="subtitle">下载地址：</p>
                    <a class="subtitle" href="https://github.com/shadowsocks/shadowsocks-android/releases">shdowsocks(影梭)</a>
                </article>
                <article class="tile is-child notification is-warning">
                    <p class="title">IOS:</p>
                    <p class="subtitle">Appstore搜索:</p>
                    <a class="subtitle" href="https://itunes.apple.com/cn/app/shadowrocket/id932747118?mt=8">Shadowrocket(小火箭)</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <p class="title">Mac os:</p>
                    <p class="subtitle">下载地址：</p>
                    <a class="subtitle" href="https://github.com/shadowsocks/shadowsocksX-NG/releases">ShadowsockX-NG</a>
                    <br>
                    <br>
                    <br>
                    <p class="title">所有系统客户端大全</p>
                    <p class="subtitle">下载地址：</p>
                    <a class="subtitle" href="https://shadowsocks.org/en/download/clients.html">戳这里</a>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
                <p class="title">Windows</p>
                <p class="subtitle">请不要下载来路不明的软件：</p>
                <div class="content">
                    <p class="subtitle">
                        <a href="https://github.com/shadowsocks/shadowsocks-windows/releases">shdowsocks(影梭) </a>
                    </p>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification is-info">
            <div class="content">
                <p class="title">冷笑话</p>
                <p class="subtitle">企鹅给北极熊打电话 </p>
                <p class="subtitle">我给你讲个冷笑话吧 </p>
                <p class="subtitle">北极熊挂了 </p>
                <br/>
                <p class="title">闲诗杂话：</p>
                <p class="subtitle">少游江南老相逢</p>
                <p class="subtitle">人面桃花相映红</p>
                <p class="subtitle">人生一季太匆匆</p>
                <p class="subtitle">桃花依旧笑春风</p>
            </div>
    </div>
    </article>
</div>
</div>
{% endblock main %}