{% extends 'base.html' %} {% block main %} {% load static %} {% load ehcofilter %}
<div class="column is-12">
    <section class="hero is-primary is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    捐赠榜：
                </h1>
                <h2 class="subtitle">
                    有你们的支持,才让这里继续下去 谢谢！
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor">
        <div class="tile is-5 is-vertical is-parent">
            {% if alipay == True %}
            <div class="tile box is-child">
                <p class="subtitle">充值捐赠系统正在内测中...
                    <br>请在下方输入
                    <strong>充值/捐赠金额</strong>
                </p>
                <p>点击提交会弹出
                    <strong>支付宝二维码</strong>
                    <br>扫描二维码确认付款之后
                    <br>账户里会增加对应的金额</p>
                <strong>付完款之后要按红色的确认按钮！</strong>
                <hr>
                <div class="content">
                    <div class="field is-grouped">
                        <div class="control has-icons-left">
                            <div class="control">
                                <input id="id-input-payinput" class="input" type="number" step="1"
                                    placeholder="最低不得小于1元: " required>
                            </div>
                            <div class="icon  is-left">
                                <i class="fab fa-alipay"></i>
                            </div>
                        </div>
                        <p class="control">
                            <button class="button is-outlined is-info is-rounded" id="id-button-payrequest">提交</button>
                        </p>
                    </div>
                    <div id="id-qrcode-box" class="is-hidden">
                        <div id="id-qrcode-canvas"></div>
                        <hr>
                        <p>
                            <strong>付费完成之后请点击确认！</strong>
                        </p>
                        <p id="id-msg-line"></p>
                        <div class="control">
                            <button id="id-button-query" class="button is-outlined is-danger is-rounded"
                                href="#">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="tile box is-child">
                <p class="subtitle">本站通过充值码进行充值:</p>
                <hr>
                <p class="subtitle">扫描站长支付宝PY获得充值码：</p>
                <figure class="image">
                    <img src="{% static '/img/alipay.webp'%}">
                </figure>
            </div>
            {% endif %}
        </div>
        <div class="tile is-7 is-vertical is-parent">
            <div class="tile box is-child">
                <div class="content">
                    <p class="subtitle">在充值界面充值也等同于捐赠，记录会自动同步</p>
                    <table class="table is-striped">
                        <thead>
                            <tr>
                                <th>捐赠人:</th>
                                <th>捐赠金额:</th>
                                <th>捐赠时间:</th>
                            </tr>
                        </thead>
                        {% for donate in donatelist %}
                        <tr>
                            <td>{{ donate.user|mix_name:donate.user }}</td>
                            <td>{{ donate.money }} 元</td>
                            <td>{{ donate.time|date:"m月d日" }}</td>
                        </tr>
                        {% empty %}
                        <p class="subtitle">
                            居然还没有人捐赠 要喝西北风了
                        </p>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 支付请求 部分
    var requestButton = $("#id-button-payrequest")
    var payinput = $("#id-input-payinput")
    var codeBox = $("#id-qrcode-box")
    var msgline = $("#id-msg-line")
    var url = "{% url 'api:order' %}"
    var payrequest = function () {
        paynum = payinput.val()
        if (paynum >= 1 && paynum % 1 == 0) {
            data = {
                num: paynum,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            requestButton.attr("disabled", "disabled")
            $.post(url, data, function (results) {
                codeBox.attr('class', '')
                // 追加二维码图片
                info = results.info
                qrcode_url = results.qrcode_url
                $("#id-qrcode-canvas").qrcode(qrcode_url)
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('错误！', '金额必须为整数且最少为一元', 'error')
        }
    }
    requestButton.click(payrequest)

    // 支付查询部分
    queryButton = $("#id-button-query")
    var payquery = function () {
        msgline.html('后台飞速查询结果中 请稍候....')
        $.getJSON(url, function (results) {
            info = results.info
            swal(info.title, info.subtitle, info.status)
        })
    }
    queryButton.click(payquery)
</script> {% endblock main %}