{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    {% if user.is_authenticated %}
    <div class="box">
        <p class="title">欢迎玩家: {{ user.username }}</p>
        <p class="subtitle">点击下方按钮进入用户中心 </p>
        <button class="button">
            <a href="{% url 'sspanel:userinfo' %}">进入</a>
        </button>
    </div>
    {% else %}
    <div class="box">
        <h3 class="title">登录:</h3>
        <form class="form" action="{% url 'sspanel:login' %}" method="post">
            {% csrf_token %} {{ form.non_field_errors }} {% for field in form %} {{ field.label_tag }} {{ field }} {{ field.errors }}
            {% if field.help_text %}
            <p class="help is-danger">{{ field.help_text|safe }}</p>
            {% endif %} {% endfor %}
            <hr>
            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-primary is-outlined">登录！</button>
                </p>
                {% if USE_SMTP is True %}
                <p class="control">
                    <a class="button is-info is-outlined " href="{% url 'password_reset' %}">忘记密码？</a>
                </p>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endif %} {% endblock main %}