{% extends 'base.html' %} {% block main %}

<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    注册需要邀请码
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <h3 class="title">注册:</h3>
        <form class="form" action="{% url 'sspanel:register' %}" method="post">
            {% csrf_token %} {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% if field.help_text %}
            <p class="help is-danger">{{ field.help_text|safe }}</p>
            {% endif %} {% endfor %}
            <hr>
            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-primary is-outlined">注册吧少年！</button>
                </p>
                <p class="control">
                    <a class="button is-info is-outlined " href="{% url 'sspanel:login' %}">刚注册过了？</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock main%}