{% extends 'base.html' %} {% block main %}

<div class="column is-12">
    <section class="hero is-warning is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    商品列表：
                </h1>
                <h2 class="subtitle">
                    <a href="{% url 'sspanel:donate' %}">
                        <strong>联系</strong>
                    </a>站长获得充值码
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <nav class="level box">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">用户名:</p>
                <p class="title">{{ user }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">余额：</p>
                <p class="title">{{ user.balance }}</p>
            </div>
        </div>
    </nav>
    <div class="box" id="id-goodlist">
        {% for good in goods %}
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{ good.name }}
                </p>
                <a class="modal-button card-header-icon" data-target="modal-{{ good.pk }}">
                    <span class="icon">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </span>
                    <span>购买</span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <p class="subtitle"> {{ good.content }} </p>
                    <strong>价格：</strong>
                    <code>{{ good.money }}元</code>
                    <br>
                    <strong>流量：</strong>
                    <code>{{ good.total_transfer }}</code>
                    <br>
                    <strong>需提升等级至：</strong>
                    <code>{{ good.level }} 级</code>
                    <br>
                    <strong>等级有效期：</strong>
                    <code>{{ good.days }} 天</code>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-{{ good.pk }}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">订单确认:</p>
                    <button class="delete"></button>
                </header>
                <section class="modal-card-body" data-id="{{ good.pk }}">
                    <p class="subtitle"> {{ good.name }} </p>
                    <strong>价格：</strong>
                    <code>{{ good.money }}元</code>
                    <br>
                    <strong>流量：</strong>
                    <code>{{ good.total_transfer }} GB</code>
                    <br>
                    <strong>需提升等级至：</strong>
                    <code>{{ good.level }} 级</code>
                    <br>
                    <strong>等级有效期：</strong>
                    <code>{{ good.days }} 天</code>
                    <br>
                    <br>
                    <a class="button is-danger is-outlined" id="id-button-pruchase">确认购买</a>
                </section>
            </div>
        </div>
        <br> {% empty %}
        <p class="subtitle">暂时没有商品上架哦</p>
        {% endfor %}
    </div>
</div>
<script>
    var goodList = $("#id-goodlist")
    // 事件委托绑定按钮
    goodList.on('click', '#id-button-pruchase', function (event) {
        var button = $(event.target)
        var good = button.closest('.modal-card-body')
        // 找到节点id
        var goodId = good.data('id')
        data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            goodId: goodId
        }
        url = "{% url 'api:purchase' %}"
        $.post(url, data, function (results) {
            swal(results.title, results.subtitle, results.status)
        })
    })
</script> {% endblock main %}