{% extends 'base.html' %} {% block main %}
<div class="column is-12">
    <section class="hero is-primary is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    用户中心：
                </h1>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="tile is-ancestor">
        <div class="tile is-5 is-vertical is-parent">
            <div class="tile box is-child">
                <p class="title">
                    <span class="icon is-large">
                        <i class="fa fa-home"></i>
                    </span> 欢迎玩家: {{ user.username }}</p>
                <button class="button is-rounded">
                    <a href="{% url 'sspanel:logout' %}">注销登录</a>
                </button>
                <button class="button is-rounded">
                    <a href="{% url 'password_change' %}">修改密码</a>
                </button>
                <button class="button is-rounded">
                    <a>
                        <span id="id-change-port">重置端口</span>
                    </a>
                </button>
                <hr>
                <div class="field is-grouped">
                    <div class="control has-icons-left">
                        <div class="select is-rounded is-fullwidth is-info ">
                            <select name="selects">
                                <option value="" disabled="" selected="">更换页面主题</option>
                                <option disabled="">───</option>
                                {% for theme in  themes %}
                                <option value="{{ theme.0 }}">{{ theme.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fa fa-torah"></i>
                        </div>
                    </div>
                    <p class="control">
                        <button class="button is-outlined is-info is-rounded" id="id-button-theme">提交</button>
                    </p>
                </div>
                <div class="field is-grouped">
                    <div class="control has-icons-left">
                        <div class="select is-rounded is-fullwidth is-primary">
                            <select name="selects-sub-types">
                                <option value="" disabled="" selected="">更换订阅类型</option>
                                <option disabled="">───</option>
                                {% for sub_type in  sub_types %}
                                <option value="{{ sub_type.0 }}">{{ sub_type.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fa fa-rocket"></i>
                        </div>
                    </div>
                    <p class="control">
                        <button class="button is-outlined is-primary is-rounded" id="id-button-sub">提交</button>
                    </p>
                </div>
                <div class="field is-grouped">
                    <div class="control has-icons-left">
                        <div class="select is-rounded is-fullwidth is-link">
                            <select name="selects-method-types">
                                <option value="" disabled="" selected="">更换加密方式</option>
                                <option disabled="">───</option>
                                {% for m in methods %}
                                <option>{{ m }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fa fa-wrench"></i>
                        </div>
                    </div>
                    <p class="control">
                        <button class="button is-outlined is-link is-rounded" id="id-button-method">提交</button>
                    </p>
                </div>
                <div class="field is-grouped">
                    <div class="control has-icons-left">
                        <input name="num" class="input is-rounded" placeholder="更换SS密码" id="id-password">
                        <div class="icon is-small is-left">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <p class="control">
                        <button class="button is-outlined is-primary is-rounded" id="id-button-password">提交</button>
                    </p>
                </div>
                <hr>
                <div id="id-checkin-box">
                    {% if user.today_is_checkin %}
                    <p class="subtitle is-5 is-spaced">今天已经签到过了ಠ౪ಠ</p>
                    {% else %}
                    <p class="subtitle is-5 is-spaced"> 今天还没有签到，点一下可以获得{{ min_traffic }}~{{ max_traffic }}流量</p>
                    <br>
                    <button class="button">
                        <a>
                            <span id="id-checkin">签到</span>
                        </a>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="tile box is-child">
                <article class="message">
                    <div class="message-header">
                        <p>最新公告</p>
                    </div>
                    <div class="message-body">
                        {% if anno %} {{ anno.body | safe }} {% else %}
                        <p>暂无公告</p>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-7 is-vertical is-parent">

            <div class="tile box is-child">
                <article class="message is-success">
                    <div class="message-header">
                        <p>连接信息</p>
                    </div>
                    <div class="message-body">
                        <li> 端口：
                            <code><span id="port">{{ user.user_ss_config.port }}</span></code>
                        </li>
                        <li> 密码：
                            <code>{{ user.user_ss_config.password }}</code>
                        </li>
                        <li> 加密：
                            <code>{{ user.user_ss_config.method }}</code>
                        </li>
                        <li> UUID：
                            <code>{{ user.vmess_uuid }}</code>
                        </li>
                        <br>
                        <div class="buttons">
                            <a class="button is-link is-rounded" href="{{ import_links }}">一键导入</a>
                            <a class="button is-link is-rounded" href="{% url 'sspanel:ss_node_config' %}"
                                download>配置下载</a>
                            <span class="button is-link modal-button is-rounded" data-target="modal-sub">订阅</span>
                        </div>
                    </div>
                </article>
                <div class="modal nodeinfo" id="modal-sub">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">SSR订阅地址：</p>
                            <button class="delete"></button>
                        </header>
                        <section class="modal-card-body">
                            <p class="subtitle">订阅链接</p>
                            <strong>点击按钮复制链接至客户端的订阅处</strong>
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" id="id-sub-link" value="{{ sub_link }}" readonly>
                                </p>
                                <p class="control">
                                    <a class="button is-rounded" id="id-button-clip"
                                        data-clipboard-target="#id-sub-link">
                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                    </a>
                                </p>
                            </div>
                            <span class="copied" hidden="true">Copied!</span>
                        </section>
                    </div>
                </div>
                <article class="message is-warning">
                    <div class="message-header">
                        <p>流量信息</p>
                    </div>

                    <div class="message-body">
                        <div class="columns">
                            <div class="column">
                                <li>总量:
                                    <code>{{ user.user_ss_config.human_total_traffic }}</code>
                                </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-success" value="100" max="100"></progress>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <li>剩余:
                                    <code>{{ remain_traffic }}% </code>
                                </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-info" value="{{  remain_traffic }}" max="100"></progress>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <li>使用:
                                    <code>{{ user.user_ss_config.human_used_traffic }}</code> </li>
                            </div>
                            <div class="column">
                                <progress class="progress is-danger" value="{{ user_traffic.used_percentage }}"
                                    max="100"></progress>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="message is-info">
                    <div class="message-header">
                        <p>个人信息</p>
                    </div>
                    <div class="message-body">
                        <li> 余额：
                            <code>{{ user.balance }} 元</code>
                        </li>
                        <li> 邮箱：
                            <code>{{ user.email }} </code>
                        </li>
                        <li> 等级：
                            <code>{{ user.level }} 级 </code>
                        </li>
                        {% if user.user_ss_config.enable == True %}
                        <li> 状态：
                            <code>正常使用</code>
                        </li>
                        {% else %}
                        <li> 状态：
                            <code>失效</code>
                        </li>
                        {% endif %}
                        <li> 主题：
                            <code>{{ user.theme }} </code>
                        </li>
                        <li> 订阅类型：
                            <code>{{ user_sub_type }} </code>
                        </li>
                        <li> 等级到期时间：
                            <code>{{ user.level_expire_time }} </code>
                        </li>
                        <li>上次使用时间:
                            <code>{{ user_traffic.last_use_time}}</code>
                        </li>

                    </div>
                </article>

            </div>
        </div>
    </div>
</div>

<script>
    // 点击复制
    var clip = new Clipboard('#id-button-clip');
    clip.on('success', function (e) {
        $('.copied').show();
        $('.copied').fadeOut(1000);
    });

    // 端口重置
    var ProtButton = $("#id-change-port")
    var changeport = function () {
        url = "{% url 'api:reset_ss_port' %}"
        data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
        $.post(url, data, function (results) {
            swal(results.title, results.subtitle, results.status)
            port.textContent = results.subtitle.slice(6, -1)
        })
    }
    ProtButton.click(changeport)

    // 签到
    var CheckButton = $("#id-checkin")
    var Checkin = function () {
        url = "{% url 'api:checkin' %}"
        data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
        $.post(url, data, function (results) {
            info = results
            swal(info.title, info.subtitle, info.status)
            var box = $("#id-checkin-box")
            box.html('<p class="subtitle is-5 is-spaced">今天已经签到过了ಠ౪ಠ</p>')
        })
    }
    CheckButton.click(Checkin)

    // 更换主题
    var ThemeButton = $("#id-button-theme")
    var changeTheme = function () {
        var theme = $("select[name=selects]").val();
        if (theme) {
            data = {
                theme: theme,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            url = "{% url 'api:change_theme' %}"
            $.post(url, data, function (results) {
                info = results
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('错误！', '请选择你要更换的主题', 'error')
        }
    }
    ThemeButton.click(changeTheme)

    // 更换订阅类型
    var SubButton = $("#id-button-sub")
    var changeSub = function () {
        var sub_type = $("select[name=selects-sub-types]").val();
        if (sub_type) {
            data = {
                sub_type: sub_type,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            url = "{% url 'api:change_sub_type' %}"
            $.post(url, data, function (results) {
                info = results
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('错误！', '请选择你要更换的订阅类型', 'error')
        }
    }
    SubButton.click(changeSub)

    // 更换加密方式
    var MethodButton = $("#id-button-method")
    var changeMethod = function () {
        var method = $("select[name=selects-method-types]").val();
        if (method) {
            data = {
                method: method,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            url = "{% url 'api:user_settings' %}"
            $.post(url, data, function (results) {
                info = results
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('错误！', '请选择你要更换的加密类型', 'error')
        }
    }
    MethodButton.click(changeMethod)
    // 更换密码
    var PasswordButton = $("#id-button-password")
    var changePassword = function () {
        var password = $("#id-password").val();
        if (password) {
            data = {
                password: password,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }
            url = "{% url 'api:user_settings' %}"
            $.post(url, data, function (results) {
                info = results
                swal(info.title, info.subtitle, info.status)
            })
        } else {
            swal('错误！', '请输入SS密码', 'error')
        }
    }
    PasswordButton.click(changePassword)
</script> {% endblock main %}